html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Merienda', cursive, Arial, Helvetica, sans-serif;
}

.bg-crimson {
    background-color: #912323;
}

/* carousel */


.carousel-inner img {
    margin: auto;
    max-width: 100%;
    height: auto;
}

.allcarousel {
    max-width: 100%;
}


/* carousel */

#presentation .container-fluid {

    min-height: 100vh;
    background-image: url("../img/backgrounds/bar-tavern-pub-restaurant-bar-stools-alcohol.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pres {
    width: 80%;
    border-radius: 1rem;
    margin: 2rem 0 2rem 0;
    background-color: RGBa(255, 255, 255, 0.8)
}

/*========= SECTION TITRES ==========*/
.redbox {
    background-color: #912323;
    font-size: 3rem;
}

/*========= SECTION ENTREE ==========*/
#starters .container-fluid {

    min-height: 100vh;
    background-image: url("../img/backgrounds/entree.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*========= SECTION PLATS ==========*/
#mainmeal .container-fluid {

    min-height: 100vh;
    background-image: url("../img/backgrounds/plats.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*========= SECTION PATES ==========*/
#pasta .container-fluid {

    min-height: 100vh;
    background-image: url("../img/backgrounds/Pates.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*========= SECTION VIANDES ==========*/
#meat .container-fluid {

    min-height: 100vh;
    background-image: url("../img/backgrounds/viandes.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*========= SECTION FISH ==========*/
#fish .container-fluid {

    min-height: 100vh;
    background-image: url("../img/backgrounds/poissons.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*========= SECTION DESSERT ==========*/
#dessert .container-fluid {

    min-height: 100vh;
    background-image: url("../img/backgrounds/dessert.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*========= SECTION APERITIF ==========*/
#aperitif .container-fluid {

    min-height: 100vh;
    background-image: url("../img/backgrounds/apperitif.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*========= SECTION VINS ==========*/
#wine .container-fluid {

    min-height: 100vh;
    background-image: url("../img/backgrounds/vins.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    font-size: 0.6rem;
}

/*========= SECTION SOFTS ==========*/
#softs .container-fluid {

    min-height: 100vh;
    background-image: url("../img/backgrounds/soft.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*========= SECTION HOT DRINKS ==========*/

#hotdrinks {
    min-height: 100vh;
    background-image: url("../img/backgrounds/boissonschaude.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ////////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
#footer {

    min-height: 100vh;
    background-image: url("../img/noustrouver.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 20%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#googlemap {
    border-radius: 0rem 0rem 1rem 1rem;
}

#copyrightlegalnotice {
    background-color: #912323;
    font-size: 1rem;
}

.legalnotice {
    text-decoration: none;
    color: white;
}

.legalnotice:visited {
    color: white;
}

.legalnotice:hover {
    color: white;
}

#devname {
    background-color: #912323;
    font-size: 1rem;
}

/* ////////////////////////////FIN FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.pres {
    width: 80%;
    border-radius: 1rem;
}

#separate {
    width: 15rem;
}